.main-container {
  margin: 0 288px;
}

.main-container #join-button {
  justify-content: center;
}

h1 {
  text-align: center;
}

.subpage-section {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
}

.subpage-section .content {
  display: flex;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 50%;
}

.image-container {
  display: flex;
  flex: 50%;
  justify-content: center;
}

.image-container img {
  height: 300px;
}

@media screen and (max-width: 1080px) {
  .main-container {
    margin: 0 144px;
  }
}

@media screen and (max-width: 720px) {
  .main-container {
    margin: 0 72px;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    margin: 0 24px;
  }
}
