.main-container {
  margin: 0 288px;
}

.main-container #join-button {
  justify-content: center;
}

h1 {
  text-align: center;
}

.subpage-section {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
}

.subpage-section .content {
  display: flex;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 50%;
}

.image-container {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 300px;
}

@media screen and (max-width: 1080px) {
  .main-container {
    margin: 0 144px;
  }
}

@media screen and (max-width: 810px) {
  .main-container {
    margin: 0 32px;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    margin: 0 24px;
  }
}

@media screen and (max-width: 512px) {
  .main-container {
    margin: 0 12px;
  }

  .subpage-section {
    padding: 25px;
  }

  .content {
    flex-flow: column;
  }

  .image-container {
    order: 1;
  }

  .text-container {
    order: 2;
  }
}
