@keyframes logo_enter_left {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes logo_enter_right {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes logo_appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-logo {
  min-height: calc(100vh - 7rem);
  display: grid;
  align-items: center;
  margin-bottom: 3rem;
}
.logo-half {
  display: inline-block;
}
.icon-container {
  margin: auto;
}
.logo-half {
  animation-timing-function: cubic-bezier(0.3, -0.01, 0.82, 0.19);
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.logo-half.left {
  transform: translateX(-50vw);
  animation-name: logo_enter_left;
}
.logo-half.right {
  transform: translatex(50vw);
  animation-name: logo_enter_right;
}
.home-logo h1 {
  opacity: 0;
  animation-name: logo_appear;
  animation-duration: 0.5s;
  animation-delay: 1.15s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.3, -0.01, 0.82, 0.19);
}

@media screen and (min-width: 480px) {
  .logo-half {
    width: 9rem;
  }
  .logo-half.left {
    margin-right: 0.9rem;
  }
  .icon-container {
    width: 18.9rem;
  }
  .home-logo h1 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .logo-half {
    width: 12rem;
  }
  .logo-half.left {
    margin-right: 1.2rem;
  }
  .icon-container {
    width: 25.2rem;
  }
  .home-logo h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1100px) {
  .logo-half {
    width: 15rem;
  }
  .logo-half.left {
    margin-right: 1.6rem;
  }
  .icon-container {
    width: 31.6rem;
  }
  .home-logo h1 {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1480px) {
  .logo-half {
    width: 18rem;
  }
  .logo-half.left {
    margin-right: 1.9rem;
  }
  .icon-container {
    width: 37.9rem;
  }
  .home-logo h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 2500px) {
  .logo-half {
    width: 20rem;
  }
  .logo-half.left {
    margin-right: 2rem;
  }
  .icon-container {
    width: 42rem;
  }
  .home-logo h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 480px) {
  .logo-half {
    width: 7.5rem;
  }
  .logo-half.left {
    margin-right: 0.75rem;
  }
  .icon-container {
    width: 15.75rem;
  }
}
