@keyframes subPageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.subpage-section.show {
  visibility: visible;
  animation: subPageFadeIn 0.5s ease-in-out;
}

.subpage-section {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  position: relative;
  visibility: hidden;
}

.subpage-section .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.subpage-section .detect-visibility {
  position: absolute;
  top: 25%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 0.5rem;
}

.subpage-title {
  text-transform: uppercase;
  grid-row-start: 1;
  margin: 0;
  margin-bottom: 0.25rem;
}

[data-orientation='right'] .subpage-title {
  grid-column-start: 1;
}
[data-orientation='left'] .subpage-title {
  grid-column-start: 2;
}

.text-container {
  grid-row-start: 2;
}

.image-container {
  grid-row-start: 2;
}

@media screen and (max-width: 480px) {

  .subpage-section .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .subpage-title {
    grid-column-start: 1 !important;
    text-align: center;
  }

  .subpage-section {
    padding: 25px;
  }

  .image-container {
    grid-row-start: 2;
  }

  .image-container img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .text-container {
    grid-row-start: 3;
  }
}
