:root {
  --theme-color-primary: #295487;
  --theme-color-secondary: #a2bcde;
}

body {
  margin: 0;
  font-family: "Century Gothic", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
